[Unit]
Description=Herb Django Gunicorn Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/herbapi
EnvironmentFile=/opt/herbapi/.env
ExecStart=/opt/herbapi/.venv/bin/gunicorn herbapi.wsgi:application --bind 127.0.0.1:8000 --workers 3 --timeout 120
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
